# Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage

# Poetry
.venv/

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter (just in case)
.ipynb_checkpoints/
